# Naive Bayes Tutorial Part 1: Predicting survival from titanic crash

In [7]:
import pandas as pd

df = pd.read_csv(r"/kaggle/input/test-file/tested.csv")
df.head()

FileNotFoundError: [Errno 2] No such file or directory: '/kaggle/input/test-file/tested.csv'

In [ ]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head(7)

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  34.5   7.8292
1         1       3  female  47.0   7.0000
2         0       2    male  62.0   9.6875
3         0       3    male  27.0   8.6625
4         1       3  female  22.0  12.2875
5         0       3    male  14.0   9.2250
6         1       3  female  30.0   7.6292

In [ ]:
df.shape

(418, 5)

In [ ]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [ ]:
inputs

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

     Pclass     Sex   Age      Fare
0         3    male  34.5    7.8292
1         3  female  47.0    7.0000
2         2    male  62.0    9.6875
3         3    male  27.0    8.6625
4         3  female  22.0   12.2875
..      ...     ...   ...       ...
413       3    male   NaN    8.0500
414       1  female  39.0  108.9000
415       3    male  38.5    7.2500
416       3    male   NaN    8.0500
417       3    male   NaN   22.3583

[418 rows x 4 columns]

In [ ]:
inputs.isnull().sum()

Pclass     0
Sex        0
Age       86
Fare       1
dtype: int64

In [ ]:
inputs.Sex = inputs.Sex.map({'male': 1, 'female': 2})
inputs

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

     Pclass  Sex   Age      Fare
0         3    1  34.5    7.8292
1         3    2  47.0    7.0000
2         2    1  62.0    9.6875
3         3    1  27.0    8.6625
4         3    2  22.0   12.2875
..      ...  ...   ...       ...
413       3    1   NaN    8.0500
414       1    2  39.0  108.9000
415       3    1  38.5    7.2500
416       3    1   NaN    8.0500
417       3    1   NaN   22.3583

[418 rows x 4 columns]

In [ ]:
inputs.Age[:10]

0    34.5
1    47.0
2    62.0
3    27.0
4    22.0
5    14.0
6    30.0
7    26.0
8    18.0
9    21.0
Name: Age, dtype: float64

In [ ]:
inputs.isnull().sum()

Pclass     0
Sex        0
Age       86
Fare       1
dtype: int64

In [ ]:

inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass  Sex   Age     Fare
0       3    1  34.5   7.8292
1       3    2  47.0   7.0000
2       2    1  62.0   9.6875
3       3    1  27.0   8.6625
4       3    2  22.0  12.2875

In [ ]:

inputs.Fare = inputs.Fare.fillna(inputs.Fare.mean())
inputs.head()

   Pclass  Sex   Age     Fare
0       3    1  34.5   7.8292
1       3    2  47.0   7.0000
2       2    1  62.0   9.6875
3       3    1  27.0   8.6625
4       3    2  22.0  12.2875

In [ ]:
inputs.shape

(418, 4)

In [ ]:
inputs.isnull().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [ ]:
target

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [ ]:
X_train.shape

(334, 4)

In [ ]:
X_test.shape

(84, 4)

In [ ]:
X_test

     Pclass  Sex       Age     Fare
277       2    1  40.00000  26.0000
119       2    2  29.00000  26.0000
203       2    2   8.00000  26.0000
392       3    1  13.00000  20.2500
216       3    2  30.27259   7.8792
..      ...  ...       ...      ...
208       1    2  33.00000  27.7208
189       2    1  40.00000  13.0000
352       2    1  18.00000  73.5000
281       3    1   0.75000  13.7750
298       1    1  30.00000  45.5000

[84 rows x 4 columns]

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB() ## when data-distribution is Normal

In [ ]:

model.fit(X_train,y_train)

GaussianNB()

In [ ]:
model.score(X_test,y_test)

1.0

In [ ]:

X_test[0:10]

     Pclass  Sex       Age      Fare
277       2    1  40.00000   26.0000
119       2    2  29.00000   26.0000
203       2    2   8.00000   26.0000
392       3    1  13.00000   20.2500
216       3    2  30.27259    7.8792
253       3    1  24.00000    9.3250
324       1    2  39.00000  211.3375
301       2    1  30.27259   15.0458
151       3    1  30.27259    7.8958
91        3    1  30.27259    7.7750

In [ ]:
# comparing wuth y_test
y_test[0:10]

277    0
119    1
203    1
392    0
216    1
253    0
324    1
301    0
151    0
91     0
Name: Survived, dtype: int64

In [ ]:
model.predict(X_test[0:10])

array([0, 1, 1, 0, 1, 0, 1, 0, 0, 0])